<div class="controls">
  <label for="launcher">Launcher:</label>

  <select name="launcher" id="launcher">
    <option value="">--Please select a launcher</option>
    <option value="a">Option A</option>
  </select>

  <label for="payload">Payload Size</label>
  <input type="range" id="payload" name="payload" min="0" max="20000">

  <label for="orbit">Target Orbit</label>
  <input type="range" id="orbit" name="orbit" min="0" max="50000">
</div>

<div id="visualizer">
  <div id="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <div id="earth"></div>
</div>