:host {
  display: flex;
  flex-direction: column;
  background-color: #000;
  flex-grow: 1;
}

.controls {
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em;
  z-index: 999999;
}

$earth-horizontal-overhang: 200px;

#visualizer {
  position: absolute;
  bottom: 0;
  margin-left: -$earth-horizontal-overhang;
  width: calc(100vw + #{$earth-horizontal-overhang});
}

#stars {
  position: relative;
  height: calc(100vh - 200px);
}

.star {
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 1px;

  @for $i from 1 through 23 {
    &:nth-child(#{$i}) {
      top: percentage(random(90) / 100);
      left: percentage(random(100) / 100);
    }
  }
}

$orbital-radius: 50%;
$earth-height: 275px;

.orbital-objects {
  position: relative;

  $pi: 3.14159265358979;
  $one-orbit: 50px;

  .orbit {
    position: absolute;
    top: -$one-orbit;
    left: -($one-orbit * $pi);
    right: -($one-orbit * $pi);
    border-radius: $orbital-radius;
    border: 1px dashed gray;
    bottom: ($earth-height * -0.43) - $one-orbit;
  }
}

#earth {
  background-color: blue;
  border-radius: $orbital-radius;
  height: $earth-height;
  margin-bottom: $earth-height * -0.43;

  .current-location {
    display: none;
  }

  &:hover {
    .current-location {
      display: block;
      color: #fff;
      margin-left: 50%;
    }
  }
}
