:host {
  display: flex;
  flex-direction: column;
  background-color: #000;
  flex-grow: 1;
}

$control-background: rgba(255, 255, 255, 0.9);

.controls {
  box-shadow: -4px 2px 6px 0px #ffffff57;
  z-index: 999999;

  .planner-steps {
    flex-direction: column;

    ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding-left: 0;

      li {
        color: #fff;
        padding: 2px 5px;
        cursor: pointer;

        &:focus {
          outline: 0;
        }
      }

      li.active {
        background-color: $control-background;
        color: #000;
        cursor: default;
      }
    }
  }

  .step-details {
    flex-direction: column;
    flex-grow: 1;
    background-color: $control-background;
  }

  .plan-summary {
    flex-direction: row;
    flex-grow: 1;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 0;

    .label {
      color: #cccaca;
      margin-left: 50px;
      padding-right: 5px;
    }
  }

}

$earth-horizontal-overhang: 200px;

#visualizer {
  position: absolute;
  bottom: 0;
  margin-left: -$earth-horizontal-overhang;
  width: calc(100vw + #{$earth-horizontal-overhang});
}

#stars {
  position: relative;
  height: calc(100vh - 200px);
}

.star {
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 1px;

  @for $i from 1 through 23 {
    &:nth-child(#{$i}) {
      top: percentage(random(90) / 100);
      left: percentage(random(100) / 100);
    }
  }
}

$orbital-radius: 50%;
$earth-height: 275px;

.orbital-objects {
  position: relative;
}

#earth {
  background-color: blue;
  border-radius: $orbital-radius;
  height: $earth-height;
  margin-bottom: $earth-height * -0.43;

  .current-location {
    display: none;
  }

  &:hover {
    .current-location {
      display: block;
      color: #fff;
      margin-left: 50%;
    }
  }
}
