<div class="controls">
  <label for="launcher">Launcher:</label>
  <select [(ngModel)]="rocket" name="launcher" id="launcher">
    <option *ngFor="let r of rockets" [ngValue]="r">{{r.name}}</option>
  </select>

  <label for="payload">Payload Size</label>
  <input type="range" id="payload" name="payload" min="0" max="20000" [(ngModel)]="payloadWeight">

  <label for="orbit">Target Orbit</label>
  <input type="range" id="orbit" name="orbit" min="0" max="50000" [(ngModel)]="targetOrbit">
  <div>
    <span>Payload {{ payloadWeight | number }} kg</span>
  </div>
  <div>
    <span>Orbit {{ targetOrbit | number }} km</span>
  </div>
</div>

<div id="visualizer">
  <div id="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <div id="earth"></div>
</div>