div.spec > label {
    font-weight: bold;
    margin-right: 3px;
}

.spec > span{
    min-width: 85px;
    text-align: right;
    display: inline-block;
}

span.unit{
    color: gray;
}

.rocket {
    display: inline-block;
    margin: 0 15px 15px 0;
    border: 1px solid #000;
    background-color: #fff;
}

.rocket h4 {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 20px 15px;
    letter-spacing: 1.5px;
    text-align: center;
}

.rocket a {
    text-decoration: none;
    color: #fff;
}

.rocket-body {
    padding: 10px;
}