<h2>Rockets</h2>
<div class="rockets">
  <div class="rocket" *ngFor="let rocket of rockets">
    <div>
      <h4>
        <a routerLink="/rocket/{{rocket.id}}">{{rocket.name}}</a>
      </h4>
      <img [src]="rocket.img.url">
      <div class="rocket-body">
        <div class="spec">
          <label>LEO</label>
          <span>
            {{rocket.config[0].leo | number}}
            <span class="unit">kg</span>
          </span>
        </div>
        <div class="spec">
          <label>GTO</label>
          <span>
            {{rocket.config[0].gto | number}}
            <span class="unit">kg</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>