<h1>Rockets are awesome!</h1>
<em>By visiting this site, you have agreed to the terms and conditions which solely consist of the above statement.</em>
<p>
    Browse the <a routerLink="rockets">rocket gallery</a> to view current orbital rockets and their lift capability to
    low earth orbit (LEO) and geostationary transfer orbit (GTO).</p>
<p>Use the <a routerLink="mission-planner">mission planner</a> to set a payload and orbit, then view which launchers are
    able to meet your demands.</p>
<p>View this site's <a href="https://github.com/fotijr/rockets" target="_blank">source code on GitHub</a>.</p>

<h2>Disclaimers</h2>
<ul>
    <li>This is all "back of the napkin" math designed to give a general sense of how rockets compare to each other. If
        you're looking for something more realistic, check out <a href="https://flightclub.io/">Flight Club</a>.</li>
    <li>No, I won't be adding imperial units. Metric forever.</li>
</ul>