@font-face {
    font-family: righteous;
    src: url(/assets/Righteous-Regular.ttf);
}


body{
    font-family: righteous, cursive;
    margin: 0;
    background: linear-gradient(to left, transparent, #FFF), url(/assets/shuttle-medium.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}